<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%=csrfToken%>" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <%- include("header.ejs") %>
    <div
      class="container-fluid h-full d-flex flex-column justify-content-center align-items-center py-3"
    >
      <!-- form to add new chapter -->
      <div class="w-3/4 border border-slate-400 rounded p-2 m-2">
        <form action="/addchapter/<%= courseId %>" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken %>" />
          <label for="chaptername" class="text-2xl p-2">Add Chapter</label>
          <input
            type="text"
            class="w-full border border-slate-400 rounded text-slate-900 p-2 mb-3"
            name="chaptername"
            id="chaptername"
          />

          <div class="textarea flex flex-col">
            <label for="chapterdescription" class="text-2xl p-2"
              >Description</label
            >
            <textarea
              name="chapterdescription"
              class="w-full border border-slate-400 text-slate-900 rounded p-2 mb-2 resize-none"
              id="chapterdescription"
              placeholder="Description...."
            ></textarea>
          </div>
          <% if (messages && messages.error && messages.error.length > 0) { %>
          <ul class="mt-2 mb-0">
            <% for (var i = 0; i < messages.error.length; i++) { %>
            <li class="text-red-600"><%= messages.error[i] %></li>
            <% } %>
          </ul>
          <% } %>
          <div class="flex justify-end">
            <button type="submit" class="btn btn-primary mr-5 my-2">Add</button>
          </div>
        </form>
      </div>

      <!-- existing chapters -->

      <% for( let i = 0; i < getChaptersByCourse.length; i++ ) { %>

      <div
        class="chapter chapter-name w-3/4 border border-slate-400 rounded p-2 my-1 d-flex flex-col"
      >
        <div class="d-flex justify-between items-center">
          <label for="chapter-name-2" class="text-2xl px-2"
            ><%= getChaptersByCourse[i].chaptername %></label
          >
          <div class="ml-auto flex items-center">
            <!-- view button -->
            <button class="btn btn-warning mr-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-black"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </button>
            <!-- Add Page button -->
            <button
              type="submit"
              class="btn btn-primary mr-3"
              onclick="window.location.href=`/addpage/<%=getChaptersByCourse[i].id%>`"
            >
              Add Page
            </button>
            <!-- Delete button for chapter  -->
            <a
              href="#"
              onclick="deleteChapter('<%= getChaptersByCourse[i].id %>')"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <!-- pages of each chapter -->
      <% for( let j = 0; j < allPagesOfCourse.length; j++ ) { %>
      <% if (getChaptersByCourse[i].id===allPagesOfCourse[j].chapterid) { %>
      <div class="chapter-name-page flex p-1 pl-2 w-3/4 items-center border">
        <div class="flex items-center">
          <!-- Delete button for PAGES  -->
          <a href="#" onclick="deletePage('<%= allPagesOfCourse[j].id %>')">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 mr-2 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </a>
          <label
            for="page-checkbox"
            class="text-xl text-gray-600 font-bold pt-0.5 cursor-pointer"
          >
            <%= allPagesOfCourse[j].pagename %>
          </label>
        </div>
      </div>
      <% } %>
      <% } %>

      <% } %>
    </div>

    <script src="/js/functionalities.js"></script>
    <script src="/js/fetchFunctions.js"></script>
  </body>
</html>
